<div id="headerwrap">
    <div class="tail"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <h1>Ctrip HTML FIVE</h1>
                <h5>探索与分享HTML5的魅力</h5>		
            </div>
<!--             <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->